

body {
    font-family: 'Times New Roman', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 26%, rgba(0, 212, 255, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.styled-text {
    font-weight: bold;
    color: blue;
    font-size: 1.2em;
}

.outer-container {
    background-color: #87CEEB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: #4682B4;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px white;
    -webkit-text-stroke: 1px black;
}


h2 {
    font-family: 'Lucida Calligraphy', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #666;
    text-shadow: 2px 2px 4px white;
    -webkit-text-stroke: 1px black;
}


label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#imageContainer {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#result {
    font-size: 16px;
    color: black;
    white-space: pre-line;
}

label {
    font-family: 'Lucida Calligraphy', sans-serif;
    font-size: 30;
    font-weight: bold;
    color: black;
}

span {
    padding: 2px;
    border-radius: 5px;
    background-color: white;
}

#ptInput {
    box-sizing: border-box;
}
body.corner-hit {
    /* Add styles for the background change */
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 115, 0, 1) 26%, rgba(255, 251, 0, 1) 100%);
  }

  .floating-name {
    position: fixed;
    /* Use fixed instead of absolute for a floating effect */
    top: 0;
    /* Adjust the top position to 0 to make it hit the top edge */
    left: 0;
    /* Adjust the left position to 0 to make it hit the left edge */
    font-size: 24px;
    color: #fff;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: Add a background color for better visibility */
    padding: 10px;
    /* Optional: Add padding for better aesthetics */
    border-radius: 5px;
    /* Optional: Add border-radius for rounded corners */
  }

  .small-note {
    font-size: smaller;
}

